{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 100,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "tabWidth": 4,
                "printWidth": 120
            }
        },
        {
            "files": ["*.json", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "preserve"
            }
        }
    ]
}
